*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: 0;
  
}


#sesi{
    width: 1000px;
    height: 753px;
    background-size: cover;
    background-image: url(/Projeto/img/sesilogi.png);
}
#pi{
  margin-left:90px;
}
#li{
    display: flex; 
}
#qua{
    position: absolute;
    width: 350px;
    height: 350px;
    margin-top: 250px;
   margin-left: 1050px;
    display: flex;
   -ms-flex-align: center;
   background-color: rgb(255, 255, 255);
}
#re{
    margin-left: -150px;
    font-size: 25px;
    margin-top: 70px;
}
#t3{
    margin-top: 170px;
    margin-left: -55px;
    font-size: 25px;
}

    #bo{
        width: 20px;
        height: 10px;
        margin-top: 300px;
        margin-left: 80px;
    }
    .çl{
        text-align: center;
    }
    .kk{
        margin-top: 50px;
        margin-right: 200px;
    }
    .lo{
      
        border: solid 2px;
        height: 20px;
        width:300px;
        padding: 2px;
        margin-right: 125px;
        margin-top: 60px;
        background-color: rgb(255, 255, 255);
        }
    .lç{
        
        border: solid 2px;
        height: 20px;
        width:300px;
        padding: 2px;
        margin-right: 125px;
        margin-top: 20px;
        background-color: rgb(255, 255, 255);
    }
    .hj{
        color:white;
        background-color: blue;
        width: 100px;
        height: 30px;
        margin-left: -570px;
        margin-top: 400px;
    }